.saludo {
    font-size: 1.5rem;
    color: blue;
}

.saludo:hover {
    text-shadow: 0 0 10px rgba(0,255,0,1);
}

div.amind div.contenido button.boton {
    color:red
}

div.admin {
    background-color: beige;
    div.contenido {
        padding: 2rem;
        background-color: orange;
        button.boton {
            padding: 1rem 2 rem;
            border: solid 1px red;
            background-color: transparent;
            border-radius: 0.25rem;
        }
    }
}